body{
    background-color: #0ca8ae;
    transform: translateX(20%);
    font-family: 'Open Sans';
    
}

.orange{
    background-color: #f08421;
    border: solid 2px #03848c;
    border-radius: 4px;
    color: #ffffff;
    margin-left: 1%;
}
.header{
    display: inline-block;
    margin-left: 8%;

}
h1{
    color: #ffffff;
    text-shadow: 0 2px 3px #00838b;
    letter-spacing: -0.2px;
    font-weight: 600;
    font-size: 34px;
    line-height: 37px;

}
.url-input{
    margin-bottom: 3%
}

input{
    height: 49px;
    width: 74%;
    transform: translateY(5%);
}

::placeholder{
    color: #777d85
}

.go-button{
    float: right;
    height: 59px;
    width: 17%;
    transform: translateX(-20%);
    font-size: 18px;
    font-weight: 600;
}

.footer{
    display: none;
    transform: translateX(13%);
    margin-top: 2%;
}
.image-content{
    width: 78%;
}

button{
    display: inline-block;
    width: 18%;
    height: 69px;
}


.image-template-cover{
    margin-top: 2%;
    position: relative;
    width: 82%;
    background-image: url(images/laptop-placeholder.png);
    height: 511px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-template-content-cnn{
    position: absolute;
    top: 42px;
    left: 121px;
    width: 75%;
    background-image: url(images/laptop-content-cnn.png);
    height: 405px;
    background-size: cover;
    background-repeat: no-repeat;
}


.image-template-content-static{
    position: relative;
    top: 179px;
    left: 56px;
    width: 57%;
    background-image: url(images/laptop-content-static.png);
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-template-content-image{
    left: 421px;
    position: absolute;
    top: 0;
    width: 48%;
    background-image: url(images/desktop-content-image.png);
    height: 121px;
    background-size: 212px 123px;
    background-repeat: no-repeat;
}

.black-loader{
    display: none;
    left: 421px;
    position: absolute;
    top: 0;
    width: 48%;
    background-color: black;
    height: 121px;
}

.black-div{
    position: absolute;
    top: 42px;
    left: 121px;
    width: 75%;
    background-color: black;
    height: 405px;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-description{
    font-size: 11px;
}

.first, .second{
    display: inline-block;
}

.first{
    position: relative;
    top: 123px;
}

.first-title{
    position: relative;
    top: 140px;
    right: 164px;
}

.second{
    position: relative;
    top: 90px;
    left: 220px;
}
.second-title{
    position: relative; 
    top: 109px;
    left: 43px;
}
.third{
    position: relative;
    top: 77%;
    left: 95%;
}

.third-title{
    position: relative;
    top: 102%;
    left: 1%;
    display: inline-block;

}

.input-text{
    position: relative;
    top: 24%;
    right: 94%;
}

.tryItAgain{
    color:#0ca8ae;
    background-color: #ffffff;
    border: solid 2px #a6e3e5;
}

a{
    text-decoration:none;
    color:#ffffff;
}

.black-opacity{
    z-index: 500;
    position: absolute;
    top: 42px;
    left: 121px;
    width: 75%;
    background-color: black;
    opacity: 0.5;
    height: 405px;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer, button{
    font-size: 20px;
    line-height: 71px;
}
button{
    line-height: normal;
}